@font-face {
    font-family: 'OktaNeue Bold';
    src: local('OktaNeue Bold'), local('OktaNeue-Bold'),
        url('./../fonts/OktaNeue-Bold.woff2') format('woff2'),
        url('./../fonts/OktaNeue-Bold.woff') format('woff'),
        url('./../fonts/OktaNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OktaNeue SemiBold';
    src: local('OktaNeue SemiBold'), local('OktaNeue-SemiBold'),
        url('./../fonts/OktaNeue-SemiBold.woff2') format('woff2'),
        url('./../fonts/OktaNeue-SemiBold.woff') format('woff'),
        url('./../fonts/OktaNeue-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OktaNeue Medium';
    src: local('OktaNeue Medium'), local('OktaNeue-Medium'),
        url('./../fonts/OktaNeue-Medium.woff2') format('woff2'),
        url('./../fonts/OktaNeue-Medium.woff') format('woff'),
        url('./../fonts/OktaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OktaNeue Regular';
    src: local('OktaNeue Regular'), local('OktaNeue-Regular'),
        url('./../fonts/OktaNeue-Regular.woff2') format('woff2'),
        url('./../fonts/OktaNeue-Regular.woff') format('woff'),
        url('./../fonts/OktaNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: 'OktaNeue Bold';
    font-size: 46px;
    line-height: 140%;
    color: #262626;
}

h2 {
    font-family: 'OktaNeue Bold';
    font-size: 32px;
    line-height: 140%;
    color: #262626;
}

h3 {
    font-family: 'OktaNeue SemiBold';
    font-size: 20px;
    line-height: 150%;
    color: #262626;
}

h4, p, a, li {
    font-family: 'OktaNeue Regular';
    font-size: 16px;
    line-height: 150%;
    color: #262626;
}
li {
    position: relative;
    padding-left: 20px;
}
main li::before {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F96A67;
    border-radius: 50%;
    content: '';
    display: inline-block; 
    top: 7px; 
    left: 0px;
}

main p {
    color: #707070;
}

a {
    color: #F96A67;
    transition: .3s;
}

a:hover {
    color: #F96A67 !important;
}

a.btn, input[type=submit], button {
    color: #FFFFFF;
    font-family: 'OktaNeue Medium';
    padding: 15px 55px;
    background: #F96A67;
    border-radius: 6px;
    filter: drop-shadow(0px 16px 22px rgba(135, 144, 197, 0.5));
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
}