.first-slide h1 {
  max-width: 571px;
}

.first-slide a.btn {
  margin-top: 7vh;
}

.first-slide img {
  max-width: 536px;
}

.first-slide section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .first-slide div:first-child {
    margin-top: 130px;
  }
  .first-slide section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    min-height: 100vh;
  }
  .first-slide div:first-child {
    width: 100%;
  }
  .first-slide div:last-child {
    width: 50%;
  }
  .first-slide img {
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .first-slide section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-slide h1 {
    font-size: 32px;
  }
  .first-slide div:first-child {
    margin-top: 130px;
  }
  .first-slide div:last-child {
    width: 70%;
    margin-top: 7vh;
  }
  .first-slide a.btn {
    width: 100%;
  }
}

main .section-wrapper {
  padding: 80px 0;
}

main .section-wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-wrapper section div:first-child {
  max-width: 561px;
}

main .section-wrapper div {
  width: 48%;
}

main .section-wrapper:not(:first-child) h2 {
  font-size: 46px;
}

main .section-wrapper:nth-child(odd) section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .section-wrapper p {
  margin: 20px 0;
}

main .section-wrapper img {
  max-width: 560px;
  max-height: 450px;
}

main .section-wrapper li {
  margin: 12px 0;
}

@media screen and (max-width: 1200px) {
  main .section-wrapper img {
    width: 100%;
  }
  p, li {
    font-size: 14px;
  }
  h3 {
    font-size: 18px;
  }
  h2 {
    font-size: 32px !important;
  }
  main .section-wrapper {
    padding: 60px 0;
  }
}

@media screen and (max-width: 750px) {
  main .section-wrapper section {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  main .section-wrapper section div {
    width: 100%;
  }
  main .section-wrapper section div:last-child {
    text-align: center;
  }
  main .section-wrapper img {
    width: 80% !important;
    margin: 20px 0 0;
  }
  main .section-wrapper {
    padding: 40px 0;
  }
}
/*# sourceMappingURL=index.css.map */