@import '../lib/style/normilize.scss';
@import './constants.scss';
@import './header.scss';

.first-slide {
    h1 {
        max-width: 571px;
    }

    a.btn {
        margin-top: 7vh;
    }

    img {
        max-width: 536px;
    }

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }
}

@media screen and (max-width: 1200px) {
    .first-slide {
        div:first-child {
            margin-top: 130px;
        }
        section {
            flex-direction: column;
            justify-content: center;
            height: auto;
            min-height: 100vh;
        }
        div:first-child {
            width: 100%;
        }
        div:last-child {
            width: 50%;
        }
        img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .first-slide {
        section {
            justify-content: space-between;
        }
        h1 {
            font-size: 32px;
        }

        div:first-child {
            margin-top: 130px;
        }

        div:last-child {
            width: 70%;
            margin-top: 7vh;
        }
        a.btn {
            width: 100%;
        }
    }
}

main .section-wrapper {
    padding: 80px 0;
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div:first-child {
            max-width: 561px;
        }
    }
    div {
        width: 48%;
    }

    &:not(:first-child) {
        h2 {
            font-size: 46px;
        }
    }

    &:nth-child(odd) section{
        flex-direction: row-reverse;
    }

    p {
        margin: 20px 0;
    }

    img {
        max-width: 560px;
        max-height: 450px;
    }

    li {
        margin: 12px 0;
    }
}

@media screen and (max-width: 1200px) {
    main .section-wrapper img {
        width: 100%;
    }

    p, li {
        font-size: 14px;
    }
    h3 {
        font-size: 18px;
    }

    h2 {
        font-size: 32px !important;
    }

    main .section-wrapper {
        padding: 60px 0;
    }
}

@media screen and (max-width: 750px) {
    main .section-wrapper section {
        flex-direction: column !important;
        
        div {width: 100%;}

        div:last-child {
            text-align: center;
        }
    }
    main .section-wrapper img {
        width: 80% !important;
        margin: 20px 0 0;
    }
    main .section-wrapper {
        padding: 40px 0;
    }
}

.form-wrapper {
    margin: 80px 0 200px;
    background: #E2E5F2;
    border-radius: 30px;
    padding: 80px;

    input[type=submit] {
        padding: 21px 81px;
        width: auto;
        margin-top: 20px;
    }

    form > div:first-child {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
    form > div:nth-child(2) {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    h2 {
      font-size: 46px;
      margin-bottom: 30px;
      max-width: 561px;  
    }
}

input, textarea {
    font-family: 'OktaNeue Medium';
    font-size: 16px;
    line-height: 100%;
    color: #707070;
    padding: 23px 30px;
    width: 100%;
    border: none;
    background: #FFFFFF;
    border-radius: 6px;
    width: 100%;
}

textarea {
    resize: none;
    height: 160px;
}

::placeholder {
    font-family: 'OktaNeue Medium';
    font-size: 16px;
    color: #707070;
}

@media screen and (max-width: 1000px) {
    .form-wrapper {
        padding: 80px 40px;
    }
}

@media screen and (max-width: 800px) {
    .form-wrapper form > div:first-child, .form-wrapper form > div:nth-child(2) {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;

        input {
            margin-bottom: 20px;
        }
    }
    .form-wrapper input[type=submit] {
        width: 100%;
    }
    .form-wrapper {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 600px) {
    .form-wrapper {
        padding: 80px 20px;
        left: -20px;
        position: relative;
        width: 100vw;
        border-radius: 0;
    }
}


.footer {
    border-top: 1px solid #CFDFE3;
    padding: 60px 0 90px;
    display: flex;
    justify-content: space-between;

    div:first-child {
        width: 100%;
    }
}

.logo-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    span {
        font-family: 'OktaNeue Regular';
        margin-left: 40px;
        font-size: 16px;
        line-height: 100%;
        color: #707070;
        opacity: .4;
    }
}

.footer-info div {
    margin-bottom: 20px;
    display: flex;
    

    p:first-child {
        white-space: nowrap;
        max-width: 286px;
        width: 100%;
        color: #707070;
        height: min-content;
        display: flex;
        margin-right: 20px;
        align-items: center;

        &::after {
            content: '';
            display: inline-block;
            background: #CFDFE3;
            height: 1px;
            width: 100%;
            margin-left: 20px;
        }
    }

    p:last-child {
        font-family: 'OktaNeue SemiBold';
        color: #707070;
        max-width: 554px;
    }
}

.footer-nav {
    text-align: right;

    ul {
        margin-top: 60px;
    }

    li {
        padding-left: 0;
        a {
            color: #707070;
        }
        margin-top: 24px;
    }
}

@media screen and (max-width: 850px) {
    .footer {
        flex-direction: column;
        padding: 100px 0 60px;
    }
    .footer-nav {
        text-align: start;
        margin-top: 40px;
    }
}

@media screen and (max-width: 670px) {
    .footer-info div p:first-child::after {
        margin-left: 10px;
    }
    .footer-info div p {
        font-size: 12px !important;
    }
    .footer-info div p:first-child {margin-right: 10px;max-width: 130px;}
}

@media screen and (max-width: 550px) {
    .footer-nav {
        text-align: center;
        a.btn {width: 100%;}
    }
}